@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
:root {
    --primary-clr: #5c4d4d;
    --secondary-clr: #915b4a;
}

/******************************   GENERAL STYLING   ****************************/
body {
    /*background-color: var(--background-color, #f2f1e7);*/
    background-image: var(--background-img, url('../image/ripples.png'));
    background-repeat: repeat;
    /*position: relative;*/
}

.navbar-brand {
    font-size: 2rem;
    font-family: 'Courgette', cursive;
}

#map {
    border: 1px solid #eee;
}

hr {
    margin: 0;
    border: 1px solid #eee !important;
    width: 85%;
}
/******************************   CARD STYLING   *******************************/
.card {
    transform: scale(1);
    transition: transform 500ms ease-in-out;
}

.card:hover {
    transform: scale(1.02);
}
/***************************   JS COMPONENTS STYLING   *************************/
#popover-box, #local-info {
    background-color: #f6f7f9;
    padding: .8em;
    border-radius: 5px;
}

#popover-box {
    position: absolute;
    top: 230px;
    left: 33%;
    border: 1px solid #bbb;
    /*transform: scale(0);*/
}

#local-info {
    position: fixed;
    top: 64px;
    left: 0;
    padding-left: 0.1em;
    border: 1px solid #ddd;
}

#popover-box:hover,
#local-info:hover,
#forecast-item:hover {
    cursor: pointer;
}

.invisible {
    display: none;
    /*transition: transform 500ms ease-in-out;*/
    /*transform: scale(1);*/
}
